.father {
  /* margin: auto;
  margin-top: 10vh;
  padding-top: 20%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: hsl(216 15% 48%);
  width: 78vw;
  height: 78vh;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(212 45% 89%);
  width: 18vw;
  height: 78vh;
  border-radius: 10px;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.child {
  width: 15vw;
  height: 25vh;
  background: hsl(218, 44%, 22%);
  border-radius: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
