.father {
  /* margin: auto;
  margin-top: 10vh;
  padding-top: 20%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: hsl(216 50% 90%);
  width: 78vw;
  height: 78vh;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: hsl(212 45% 89%); */
  background: #fff;
  width: 20vw;
  height: 65vh;
  border-radius: 1.2rem;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1rem;
  text-align: center;
}

.child {
  width: 15vw;
  height: 25vh;
  background: hsl(218, 44%, 22%);
  border-radius: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

h2 {
  font-size: 1.5rem;
}

.main-para {
  color: hsl(216, 18%, 54%);
}
